module.exports = {
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "endOfLine": "auto"
}
